# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Django-specific
db.sqlite3
/mediafiles/
/staticfiles/

# Virtual environment
venv/
Venv/
ENV/
env/
.venv/
.venv/

# Mac-specific
.DS_Store

# Git-specific
*.swp
*~

# IDE files (VSCode, PyCharm, etc.)
.vscode/
.idea/

# Logs and temporary files
*.log
*.pot
*.mo
*.out
*.pid

# Ignore node_modules for frontend dependencies
node_modules/

# Environment variables
.env

nyc_complaints_data.csv
