asgiref==3.8.1
attrs==24.2.0
autobahn
Automat==24.8.1
black==24.8.0
click==8.1.7
channels==3.0.5
channels-redis==4.2.0
cryptography==43.0.3
daphne==3.0.2
Django==4.1.1
django-crispy-forms==1.14.0
django-environ==0.11.2
django-tables2==2.4.1
environ==1.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
flake8==7.1.1
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.10.1
Pillow==9.2.0
platformdirs==4.3.6
psycopg2-binary==2.9.3
pycodestyle==2.12.1
pyflakes==3.2.0
redis==5.1.1
Twisted==24.7.0
sqlparse==0.5.1
boto3==1.35.0
requests
# git+https://github.com/MTG/freesound-python.git
txaio==23.1.1
zope.interface==7.1.0
