option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "core.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "core.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py makemigrations --noinput"
    leader_only: true

  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true

  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true

  04_load_dataset:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py import_nyc_open_data"
    leader_only: true

  05_createsu:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
    leader_only: true

  06_create_chatrooms:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py create_chatrooms"
    leader_only: true
