commands:
  01_enable_postgresql_devel:
    command: "amazon-linux-extras install postgresql13 -y || true"

packages:
  yum:
    postgresql-devel: []  # Installs PostgreSQL development files required for psycopg2
    gcc: []               # Installs the GCC compiler, which is also often required
    python3-devel: []     # Installs Python development libraries, useful for compiling extensionsß
