commands:
  01_enable_postgresql_devel:
    command: "amazon-linux-extras install postgresql13 -y || true"

packages:
  yum:
    postgresql-devel: []       # Required for pg_config
    libjpeg-devel: []          # Required for Pillow
    gcc: []                    # Required to compile C extensions
    python3-devel: []          # Required for Python dev packages
