files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervisor_daemon.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      daemonconf="[program:daphne]
      command=/var/app/venv/*/bin/daphne -b :: -p 5000 core.asgi:application
      directory=/var/app/current
      user=ec2-user
      numprocs=1
      stdout_logfile=/var/log/stdout_daphne.log
      stderr_logfile=/var/log/stderr_daphne.log
      autostart=true
      autorestart=true
      startsecs=10
      stopwaitsecs=600
      killasgroup=true
      environment=PATH='/var/app/venv/*/bin'
      "

      echo "$daemonconf" | sudo tee /usr/local/etc/daemon.conf

      # Add configuration script to supervisord conf (if not there already)
      if ! grep -Fxq "[include]" /usr/local/etc/supervisord.conf
          then
          echo "" | sudo tee -a /usr/local/etc/supervisord.conf
          echo "[include]" | sudo tee -a /usr/local/etc/supervisord.conf
          echo "files: /usr/local/etc/daemon.conf" | sudo tee -a /usr/local/etc/supervisord.conf
      fi

      # Add a web interface for Supervisor on localhost:9001 if not present
      if ! grep -Fxq "[inet_http_server]" /usr/local/etc/supervisord.conf
          then
          echo "" | sudo tee -a /usr/local/etc/supervisord.conf
          echo "[inet_http_server]" | sudo tee -a /usr/local/etc/supervisord.conf
          echo "port = 127.0.0.1:9001" | sudo tee -a /usr/local/etc/supervisord.conf
      fi

      # Reread the Supervisor config
      sudo /usr/local/bin/supervisorctl -c /usr/local/etc/supervisord.conf reread

      # Update Supervisor in cache without restarting all services
      sudo /usr/local/bin/supervisorctl -c /usr/local/etc/supervisord.conf update

      # Start/restart Daphne through Supervisor
      sudo /usr/local/bin/supervisorctl -c /usr/local/etc/supervisord.conf restart daphne
