{% extends "soundscape/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4">CS-GY 6063 Team-2</h2>
<h3 class="text-xl font-semibold mb-2">NYC Soundscape Explorer: Discover the Sounds of New York City</h3>

<p class="mb-4">
    <strong>What is this project?</strong><br>
    The NYC Soundscape Explorer is an interactive web application that allows users to explore and experience the diverse soundscape of New York City. The application will utilize <a href="https://data.cityofnewyork.us/Social-Services/311-Noise-Complaints/p5f6-bkga/about_data" target="_blank" class="text-teal-500 hover:underline">NYC Open Data on noise complaints</a> or environmental sound data provided by users to map out various sounds associated with different neighborhoods across the city. Users will be able to click on specific areas of the map to listen to common ambient sounds, such as traffic, street music, construction, or nature, providing a unique auditory experience of the city. The project aims to create an engaging platform where users can discover the distinct acoustic identity of NYC's neighborhoods.
</p>

<h3 class="text-xl font-semibold mb-2">What are the problems we want to solve?</h3>
<ul class="list-disc list-inside mb-4">
    <li>Limited Noise Information: People often struggle to access localized noise information, affecting their ability to make informed decisions about where to live or visit.</li>
    <li>Impact of Noise Pollution: Urban noise can affect people’s well-being and health, and there’s a need for better ways to understand and manage it.</li>
    <li>Need for Community Input: There’s a lack of platforms that allow people to discuss and work together on noise-related issues.</li>
    <li>Scattered Data: Noise data is often difficult to find and understand, making it hard to get a clear picture of noise patterns in our neighborhoods.</li>
</ul>

<h3 class="text-xl font-semibold mb-2">Team Details</h3>
<ul class="list-disc list-inside mb-4">
    <li>Sonia Susanto</li>
    <li>Yashwanth Alapati</li>
    <li>Dipesh Parwani</li>
    <li>Thejaswini</li>
    <li>Manav parikh</li>
    <li>Belle</li>
</ul>
{% endblock %}